.eexcess-tag_hover {
    background-image:none !important;
    background-color:yellow !important;
}

.eexcess_highlight {
    background-color: yellow;
}
#eexcess-tabBar-jQueryTabsHeader > ul {
    display: none;
}

/*result preview*/
.result-preview .preview-title {
    color: #959595;
}

.result-preview label {
    font-weight: 700;
}

.result-preview > div {
    margin-bottom: 5px;
}

.result-preview .pull-right {
    float: right;
}

.result-preview > img {
    max-height: 600px;
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#allowed-licences:empty:after {
    content: "No whitelisted licences. Licences can be whitelisted in a result-item's preview dialog. This dialog can be opened by clicking on the result-items available in the sidebar.";
}