.eexcess-tag_hover {
    background-image:none !important;
    background-color:yellow !important;
}

.eexcess_highlight {
    background-color: yellow;
}
#eexcess-tabBar-jQueryTabsHeader > ul {
    display: none;
}

/*result preview*/
.result-preview .preview-title {
    color: #959595;
}

.result-preview label {
    font-weight: 700;
}

.result-preview > div {
    margin-bottom: 5px;
}

.result-preview .pull-right {
    float: right;
}